*{
    margin:0;
 padding: 0;
}
:root{

}
.cabecalho{
background-color: #bbc877;
padding: 16px;
}

.corpo{
background-color: #fd9f9a;
padding: 290px;
}

.footer{
background-color: #bbc877;
padding: 15px;
}
.boton {
    position: fixed;
    top: 20px;
    left: 20px;
    padding: 10px 20px;
    background-color: #ffffff;
    color: #fd9f9a;
    text-decoration: none;
    border-radius: 5px;

}


.boton:hover{
    background: linear-gradient(to right, #e2dade, #ed6665, #fd6081);
}

.boton:active {
    font-size: 17px;
}



img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}
.container {
    background-image: url(); /* Substitua pelo caminho da sua imagem */
    background-size: cover; /* Para cobrir toda a div */
    background-position: center; /* Para centralizar a imagem */
    background-repeat: no-repeat; /* Não repetir a imagem */
    height: 45vh; /* Altura total da janela */
    display: flex; /* Para centralizar o conteúdo */
    align-items: center; /* Centraliza verticalmente */
    justify-content: center; /* Centraliza horizontalmente */
    color: white; /
}
