*{
    margin:0;
 padding: 0;
}
:root{

}
.cabecalho{
background-color: blueviolet;
padding: 170px;
}

.corpo{
background-color: rgba(159, 57, 228, 0.644);
padding: 120px;
}

.footer{
background-color: rgba(199, 21, 134, 0.877);
padding: 150px;
}